div.blog-post {
  overflow: hidden;

  time {
    margin-top: $big_spacer;
    width: 25%;
    float: left;
    font-family: $secondary_font_family;
    color: $secondary_text_color;
  }

  article {
    float: left;
    width: 75%;

    header {
      width: auto;
    }

    img {
      width: 100%;
    }

    div.note {
      background: #f4f4f4;
      padding: $spacer;
      border: $divider;
      margin-bottom: $big_spacer;

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  article,
  time {
    @include breakpoint(tablet) {
      width: 95%;
      padding: 0 $spacer;
    }

    @include breakpoint(mobile) {
      width: 95%;
      padding: 0 $spacer;
    }
  }
}
