@mixin responsive_gallery {
  @include breakpoint(mobile) {
    padding: 0;

    &.blog li.item {
      border-bottom: $divider;

      a.thumbnail {
        display: none;
      }
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

button#load-more {
  height: 50px;
  width: 200px;
  margin: 0 auto $spacer * 2 auto;
  display: block;
  background: #000;
  color: #fff;
  border: none;
  font-family: $secondary_font_family;

  &:hover {
    cursor: pointer;
  }
}

ul.gallery {
  padding-top: 35px;
  overflow: hidden;
  @include responsive_gallery;

  li.item {
    width: 25%;
    float: left;
    position: relative;
    padding-bottom: 19%;
    height: 200px;

    @include breakpoint(tablet) {
      height: 350px;
      padding-bottom: $spacer * 2;
    }

    @include breakpoint(mobile) {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }

    a.thumbnail {
      display: block;
      margin: 5px;
      max-height: 230px;
      overflow: hidden;

      @include breakpoint(mobile) {
        margin: 0;
        padding: 0;
        max-height: 100%;
      }

      img {
        width: 100%;
        opacity: 0;
      }
    }

    a.overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
      z-index: 1000000;
      height: 100%;
      width: 100%;

      &:target {
        visibility: visible;
        opacity: 1;
      }

      .image {
        margin: $spacer * 2 auto;
        height: 90%;
        overflow: scroll;
        transition: all 5s ease-in-out;
        position: relative;

        // override footer gallery style
        float: none;
        // override footer gallery style
        width: auto;

        img {
          border: $spacer solid #fff;
          height: 95%;
          margin: 0 auto;
        }

        p {
          height: 90%;
          background: red;
          text-align: center;
          display: none;
        }
      }
    }

    .details {
      padding: 5px;

      @include breakpoint(mobile) {
        padding: $spacer;
      }

      aside,
      time {
        font-family: $secondary_font_family;
        color: $secondary_text_color;
        margin-bottom: 0.75em;
        display: block;
      }

      h2 {
        margin-bottom: 0.65em;
        line-height: 1.75em;

        a {
          font-size: 120%;
          line-height: 1em;
        }
      }

      p {
        color: $secondary_text_color;
        font-style: italic;
        margin-bottom: 0.65em;
      }
    }
  }
}

ul.gallery.ig-feed {
  margin-bottom: $spacer * 2;

  @include breakpoint(mobile) {
    margin-bottom: 0;
  }

  li.item {
    height: auto;
    padding-bottom: 0;

    &:nth-child(n + 13) {
      display: none;
    }
  }

  &.full-feed {
    li:nth-child(n + 13) {
      display: block;
    }
  }
}
