main {
  width: $desktop_width;
  margin: 0 auto;

  article {
    header {
      margin: 0;
      padding: 0;

      h1 {
        margin: 25px 0 15px 0;
        font-size: 200%;
      }
    }

    a, a:visited {
      color: $link_color;
    }
  }
}
