- wrap_layout :layout do
  %div.content-wrap
    %div.content
      %article
        %h1.divider=current_article.title
        %date="Posted #{current_article.date.strftime('%B %e, %Y')}"
        = yield
        = partial :tags, :locals => {:item => current_article, :path_prefix => "blog"}
  %div.content-wrap.secondary
    %div.content
      %h1.divider Recent Posts
      = partial :blog_gallery
