- wrap_layout :layout do
  %h1=data.page.title
  %article
    = yield
    - if current_article && current_article.tags
      %ul
      - current_article.tags.each do |tag|
        %li
          %a{:href => tag_path(tag)}=tag
