- wrap_layout :layout do
  %div.content-wrap
    %div.content
      %div.column
        - current_article.data.images.each do |img|
          %img{:src => "/images/projects/work/#{img}"}
      %div.column
        %h1=current_article.title
        %date="#{current_article.data.date_completed}"
        = yield
        - if current_article && current_article.tags
          %ul
          - current_article.tags.each do |tag|
            %li
              %a{:href => "/projects/tags/#{tag}"}=tag
