.content article {
  display: block;
  width: 50%;
  margin: 0 auto 50px auto;

  h1 {
    margin-bottom: -15px;
  }

  h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 17px;
    line-height: 22px;
  }

  ul {
    li {
      list-style-type: disc;
      list-style-position: outside;
    }

    &.tags li {
      font-size: $font_size + 1;
    }
  }
}
