article {
  @include two_thirds_column;
  padding-bottom: 50px;

  h1 {
    margin-top: 15px;
    @include large_heading;
  }

  .blog-content {
    h2 {
      margin-bottom: $spacer + 10;
      margin-top: 50px;
      font-size: $font_size + 10;
    }

    p, li {
      @include body_type;

      code {
        color: #c25;
        background: #f7f7f9;
        border: 1px solid #e1e1e8;
        padding: 0 3px;
        @include border-radius(3px);
      }
    }

    ul, ol {
      margin-bottom: $spacer + $spacer/2;

      li {
        margin-bottom: 10px;
        margin-left: 1.3em;
      }
    }

    ul li {
      list-style-type: disc;
    }

    ol li {
      list-style-type: decimal;
    }
  }
}
