article {
  @include breakpoint {
    padding-right: $spacer;
  }

  small {
    @include divider_heading;
  }

  p, li {
    font-size: $font_size + 1;
    line-height: 1.6em;
  }

  h1 {
    @include large_heading;
  }

  h2 {
    margin: $spacer 0;
    font-size: $font-size + 6;
    line-height: ($font-size + 6) * 1.4;
    color: $inverse_text_color;

    @include breakpoint(mobile) {
      font-size: $font-size + 3;
      line-height: ($font-size + 3) * 1.4;
    }
  }

  li {
    margin-bottom: 4px;
    list-style-type: disc;
  }

  .metadata {
    margin-top: $spacer * 2;
  }
}
