footer {
  background: #000;
  overflow: hidden;
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;

  section {
    margin-left: $body_padding;

    @include breakpoint {
      margin-left: $mini_spacer * 2;
    }
  }

  .column.one-half {
    width: 50%;
    margin: 0 0 $spacer 0;

    @include breakpoint(mobile) {
      width: 100%;
    }
  }

  h1 {
    margin-bottom: $spacer;
    color: #fff;
  }

  h2 {
    @include divider_heading;
  }

  p, ul {
    width: 90%;
    color: #555;
  }
}
