@mixin responsive_project_gallery_item {
  @include breakpoint(mobile) {
    height: 100%;
    padding: 0;

    .details {
      display: none;
    }
  }
}

@mixin responsive_gallery {
  @include breakpoint(desktop) {
    padding: 0 $spacer;
    padding-bottom: $spacer * 2;
  }

  @include breakpoint(mobile) {
    padding: 0;
  }
}

ul.gallery {
  overflow: hidden;
  border-bottom: $divider;
  padding: 25px 0;
  @include responsive_gallery;

  body.blog_tags &,
  &.blog {
    @include breakpoint(mobile) {
      border-top: $divider;
    }

    li.item {
      height: 200px;

      @include breakpoint(mobile) {
        height: auto;
        border-bottom: $divider;
        padding: $spacer 0;

        a.thumbnail {
          display: none;
        }
      }
    }
  }

  &.tiendah {
    li.item {
      height: 175px;
      @include responsive_project_gallery_item;

      a.thumbnail {
        border: $divider;
      }
    }
  }

  body.projects_tags &,
  &.projects {
    li.item {
      .index & {
        height: 100px;
        @include responsive_project_gallery_item;
      }

      @include breakpoint(mobile) {
        @include responsive_project_gallery_item;
      }
    }
  }

  &.instagram {
    padding-bottom: 50px;

    @include responsive_gallery;

    footer & {
      border-bottom: 0;
      padding: 0;
    }

    li.item {
      height: 60px;

      @include breakpoint {
        height: 100%;
        padding: 0;
      }

      footer & {
        height: 30px;

        @include breakpoint {
          height: 100%;
        }
      }
    }
  }

  li.item {
    float: left;
    position: relative;
    width: $thumb_width;
    height: 125px;
    padding-bottom: 19%;

    @include breakpoint(mobile) {
      float: none;
      width: 100%;
    }

    a.thumbnail {
      display: block;
      margin: $gallery_spacer;
      margin-bottom: $gallery_spacer + 5;
      overflow: hidden;
      background: image-url('/images/loading_indicator.gif') no-repeat center;

      &.loaded {
        background: none;
      }

      @include breakpoint(mobile) {
        margin: 0;
      }

      img {
        width: 100%;
      }
    }

    div.details {
      margin: $gallery_spacer;

      @include breakpoint(mobile) {
        margin: 0;
        padding-left: $spacer;
      }

      small, date {
        display: inline-block;
        margin-bottom: $spacer - 10;

        &.blog:after {
          content: '/';
          margin-left: .5em;
          display: inline-block;
          @include small_text;
        }
      }

      h2 {
        font-size: $font_size + 2;
        text-decoration: none;
        margin-bottom: $spacer - 10;

        a {
          color: $text_color;
          text-decoration: none;
        }
      }

      p.teaser {
        margin-bottom: $spacer - 10;
        font-style: italic;
        color: $secondary_text_color;
      }
    }
  }
}
