.content ul.gallery {
  overflow: hidden;

  li.item {
    float: left;
    position: relative;
    width: 25%;
    height: 125px;
    padding-bottom: 19%;

    @include breakpoint {
      width: 33%;
      padding-bottom: 25%;
    }

    @include breakpoint(mobile) {
      height: 5px;
    }

    &.teaser {
      height: 200px;

      @include breakpoint(mobile) {
        height: 5px;
      }
    }

    a.thumbnail {
      display: block;
      margin: $gallery_spacer;
      overflow: hidden;
      background: url('/images/loading_indicator.gif') no-repeat center;

      &.loaded {
        background: none;
      }

      img {
        width: 100%;
        display: none;
      }
    }

    div.details {
      margin: $gallery_spacer;

      @include breakpoint(mobile) {
        display: none;
      }

      small, date {
        display: inline-block;
        margin-bottom: $spacer - 10;

        &.blog:after {
          content: '/';
          margin-left: .5em;
          display: inline-block;
          @include small_text;
        }
      }

      h2 {
        margin-bottom: $spacer - 10;

        a {
          @include standard_heading;
        }
      }

      p.teaser {
        margin-bottom: $spacer - 10;
        font-style: italic;
        color: $secondary_text_color;
      }
    }
  }

  &.blog {

    li.item {
      width: 100%;
      height: auto;
      padding: ($spacer - 10) 0;
      border-bottom: $divider;

      a.thumbnail {
        @include breakpoint(mobile) {
          display: none;
        }
      }

      div.details {
        @include breakpoint(mobile) {
          display: block;
        }
      }
    }
  }
}
