$gallery_spacer: $spacer - 10;

.content ul.gallery {
  overflow: hidden;

  li.item {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 15%;

    a.thumbnail {
      display: block;
      position: absolute;
      left: $gallery_spacer;
      right: $gallery_spacer;
      top: $gallery_spacer;
      bottom: $gallery_spacer;
      overflow: hidden;

      img {
        width: 100%;
        display: none;
      }
    }

    div.details {
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: -150px;
      background: #000;
      opacity: 0.8;
      color: #fff;
      padding: $gallery_spacer;
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-out);

      h2 {
        font-size: $font_size + 1;
        line-height: $font_size * 1.6;
        margin-bottom: $gallery_spacer;
      }

      date {
        font-size: $font_size - 1;
        margin-bottom: $gallery_spacer;
      }

      ul.tags {
        font-size: $font_size - 1;
      }
    }

    &:hover div.details {
      top: 0;
    }
  }
}
