header {
  padding-top: $body_padding/2;

  @include breakpoint(mobile) {
    background: #fff;
  }

  a.mark {
    margin: 0 0 15px $body_padding - 20;
    @include border-radius($mark_dimensions, $mark_dimensions);
    text-indent: -5000px;
    display: block;
    width: $mark_dimensions;
    height: $mark_dimensions;
    background: url('/images/mark_grayscale.png') center center;

    &:hover {
      text-decoration: none;
      @include border-radius($mark_dimensions, $mark_dimensions);
      text-align: center;
      background: #000;
      text-indent: 0;
      color: #fff;
      line-height: 100px;
    }

    @include breakpoint {
      display: none;
    }
  }

  .header-content {
    width: $desktop_width;
    overflow: hidden;
    margin-bottom: $spacer * 2;
    margin-left: $body_padding;

    @include breakpoint {
      width: $mobile_width;
      margin-left: $mini_spacer * 2;
      width: $mobile_width;
    }

    nav ul li {
      a, a:visited {
        color: $text_color;
        text-decoration: none;
      }
    }

    h1.divider {
      @include breakpoint(mobile) {
        border-bottom: none;
      }
    }
  }
}
