$hamburger_color: #000;

header {
  @include container_section;
  border-bottom: $divider;
  padding: 50px 0 25px 0;

  @include breakpoint(mobile) {
    padding-top: $spacer;
    padding-bottom: 0;
  }

  button {
    display: none;
    border: 0;
    text-indent: -5000px;
    width: 40px;
    height: 34px;
    position: absolute;
    right: 0;
    top: $spacer + 10;
    background: none;
    border-top: 8px solid $hamburger_color;
    border-bottom: 8px solid $hamburger_color;

    @include breakpoint(mobile) {
      display: block;
      margin: 50px $spacer 0 0;
    }

    &:focus {
      outline: 0;
    }

    &:before {
      width: 40px;
      height: 34px;
      content: '.';
      text-indent: -5000px;
      border-top: 8px solid $hamburger_color;
      position: absolute;
      right: 0;
      top: 4px;
    }
  }

  div.mark {
    @include quarter_column;

    @include breakpoint(mobile) {
      margin: 0 0 $spacer $spacer;
    }

    a {
      text-indent: -5000px;
      display: block;
      width: $mark_dimensions;
      height: $mark_dimensions;
      background: image-url('/images/mark_grayscale.png') center center;
      float: left;

      &:hover {
        text-decoration: none;
        @include border-radius($mark_dimensions, $mark_dimensions);
        text-align: center;
        background: #000;
        text-indent: 0;
        color: #fff;
        line-height: 100px;
      }
    }
  }

  nav {
    position: relative;

    @include breakpoint(mobile) {
      display: none;

      &.expanded {
        display: block;
      }
    }

    &.column.one-quarter {
      padding-top: 60px;

      @include breakpoint(mobile) {
        //display: none;

        float: none;
        padding: 0;
        width: 100%;
      }
    }

    &.primary {
      @include breakpoint(mobile) {
        border-top: 1px solid $divider_color;
      }
    }

    ul.nav {
      @include breakpoint(mobile) {
        width: 100%;
      }

      li {
        a, a:visited {
          @include small_text;

          @include breakpoint(mobile) {
            background: #000;
            width: 100%;
            display: block;
            padding: 10px 0 10px $spacer;
            border-bottom: $inverse_divider;
          }
        }
      }
    }

    &.tertiary {
      ul.nav li a {
        color: $tertiary_text_color;
      }
    }
  }
}
