.instagram {
  margin-bottom: $spacer * 2;

  ul {
    overflow: hidden;

    footer & {
      width: 100%;
    }

    li {
      float: left;
      position: relative;
      width: 31%;
      margin-right: $spacer - 5;
      margin-bottom: $spacer - 5;

      @include breakpoint(mobile) {
        margin: 0;
      }

      footer & {
        width: 46%;
        display: none;

        &:nth-child(-n+4) {
          display: block;
        }
      }

      a {
        border: $divider;
        padding: 5px 5px 0 5px;
        display: block;

        @include breakpoint(mobile) {
          border: none;
          margin: 0;
          padding: 0;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
