ul.post-navigation {
  margin: ($spacer * 2) 0;

  li {
    display: inline-block;
    margin-left: 0;

    a {
      @include small_text;
    }

    &.prev:after {
      content: '/';
      @include small_text;
    }
  }
}
