ul.post-navigation {
  margin-bottom: $spacer;

  li {
    display: inline-block;

    a {
      @include small_text;
    }

    &.prev:after {
      content: '/';
      @include small_text;
    }
  }
}
