.project {
  overflow: hidden;
  border-bottom: 1px solid $divider_color;
  padding-bottom: $spacer * 2;

  .divider {
    border-bottom: 0;
    margin-bottom: 0;
  }

  @include breakpoint(mobile) {
    padding-bottom: $spacer;
  }

  .column {
    @include breakpoint(mobile) {
      padding-left: $spacer;
    }
  }

  .images {
    margin-bottom: $spacer * 2;

    @include breakpoint(mobile) {
      margin-bottom: $spacer;
    }

    img {
      margin-bottom: $spacer;
      width: 100%;

      @include breakpoint(mobile) {
        margin-bottom: 0;
      }
    }

    .image-column {
      clear: both;
      overflow: hidden;

      .image {
        float: left;
        width: 49%;
        overflow: hidden;

        @include breakpoint {
          width: 100%;
        }

        img {
          float: left;
          margin-right: $gallery_spacer;
        }

        &:nth-child(even) {
          float: right;
        }

        &.first.last {
          float: none;
          margin-left: 25%;
          width: 75%;

          @include breakpoint {
            width: 100%;
            margin-left: 0;
          }

          img {
            width: auto;

            @include breakpoint {
              width: 100%;
            }
          }
        }
      }
    }
  }

  h2 {
    @include large_heading;
  }

  p {
    @include body_type;
  }

  date {
    @include breakpoint(mobile) {
      margin-bottom: $spacer;
    }
  }
}
