ul.recent-posts {
  margin-top: -$spacer;
  padding-top: $spacer;

  li {
    border-bottom: $text_divider;
    position: relative;

    a {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;

      img {
        display: block;
        margin-top: $spacer - 5;
        width: 60px;
        height: 50px;
        border: 1px solid #fff;
        margin-bottom: $spacer;
      }

      div {
        left: 60px + $spacer - 5;
        top: 0;
        position: absolute;

        h3 {
          font-size: $font_size + 1;
          line-height: $font_size + 5;
          color: $text_color;
        }

        date {
          font-size: $font_size;
          margin-bottom: 0;
        }
      }
    }
  }
}
