.content ul.tags {

  li {
    display: inline;
    color: $secondary_text_color;

    a, span {
      &:after {
        content: ',';
      }
    }

    a:hover {
    }

    &.last a:after, &.last span:after {
      content: '';
    }
  }
}
