section {
  padding-top: ($spacer * 4) + $mark_dimensions;
  @include breakpoint {
    padding: $spacer;
  }
}

.content {
  width: $desktop_width;
  margin: 0 auto;

  @include breakpoint {
    width: 100%;
  }

  .column.metadata {
    @include breakpoint {
      display: none;
    }
  }

  article, .description {
    p, ul {
      @include body_type;
    }

    li {
      list-style-type: disc;
      list-style-position: outside;
      margin-left: $font_size + 5;
    }

    .metadata {
      display: none;

      ul li {
        margin-left: 0;
      }

      @include breakpoint {
        display: block;
      }
    }
  }

  &.fof {
    h1 {
      @include large_heading;
    }

    p {
      @include body_type;
    }
  }
}

body {
  &.blog_index,
  &.projects_index,
  &.blog_tags,
  &.projects_tags {
    h1.divider {
      padding-top: 0;
    }
  }
}
