ul.gallery li.item {
  @include gallery_item_dimensions;
  float: left;
  margin-right: 15px;

  date {
    margin-bottom: 5px;
    color: $secondary_text_color;
  }

  img {
    margin-bottom: 5px;
    border: 2px solid #fff;
    @include thumb_dimensions;
  }

  h2, h2 a {
    font-size: $font_size + 2;
    text-decoration: none;
    color: $text_color;
    margin-bottom: 3px;
  }
}

article {
  display: block;
  width: 50%;
  margin: 0 auto 50px auto;

  h1 {
    margin-bottom: -15px;
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 17px;
    line-height: 22px;
  }

  date {
    margin-bottom: 15px;
    text-align: center;
    color: $secondary_text_color;
  }

  p, ul, ol {
    font-size: $font_size + 3;
    line-height: $font_size + 10;
    margin-bottom: 17px;
  }
}
