$mark_dimensions: 100px;

@mixin responsive_header_elem {
  @media #{$only_screen_and_max_width} {
    float: none;
    margin: 0 auto;
    text-align: center;
    margin-bottom: $spacer;
  }
}

header {
  @include center;
  padding-top: 50px;
  overflow: hidden;

  h1, h1 a, h1 a:visited, h1 a:focus {
    float: left;
    font-size: $font_size + 2;
    color: $text_color;
    margin-bottom: $spacer - 5;
    @include responsive_header_elem;

  }

  h1 a {
    text-indent: -5000px;
    display: block;
    width: $mark_dimensions;
    height: $mark_dimensions;
    background: url('/images/mark_grayscale.png');

    &:hover {
      @include border-radius($mark_dimensions, $mark_dimensions);
      text-align: center;
      background: #000;
      text-indent: 0;
      color: #fff;
      line-height: 100px;
    }
  }

  ul.nav {
    float: right;
    margin-top: $mark_dimensions - $spacer;
    @include responsive_header_elem;

    li, li a {
      font-size: $font_size;
      display: inline-block;
      text-decoration: none;
      color: $secondary_text_color;
      margin: 0 2px;

      &:hover {
        color: $text_color;
      }
    }
  }
}
