header {
  @include center;
  padding: 50px 0 20px 0;
  text-align: center;

  h1, h1 a, h1 a:visited, h1 a:focus {
    font-size: $font_size + 4;
    color: $text_color;
    margin-bottom: 35px;

    span {
      margin-top: 5px;
      display: block;
      font-size: $font_size + 2;
      color: $secondary_text_color;
    }
  }

  h1 a:before {
    content: '.';
    text-indent: -5000px;
    margin: 0 auto 10px auto;
    display: block;
    width: 100px;
    height: 100px;
    background: url('/images/mark_grayscale.png');
  }

  ul.nav {
    li, li a {
      font-size: $font_size + 2;
      display: inline-block;
      text-decoration: none;
      color: $text_color;
      margin: 0 2px;
    }
  }
}
