<h1>Projects</h1>

<ul>
  <% for project in @projects %>
  <li>
    <h2><%= link_to project.title, project.permalink %></h2>
    <p><%= project.description %></p>
  </li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
