.gallery {
  border-top: 1px solid #dbdbdb;
  margin: 0;
  padding-top: 30px;
  overflow: hidden;
  clear: both;
}

.gallery li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  width: 25%;
}

.gallery li a img {
  display: block;
}

.gallery a {
  display: block;
  margin: 5px;
}

.loaded a {
  min-height: 228px;
}

.loading a {
  border: 1px solid #eee;
}

.loading a img {
  margin: 40% auto;
}
