.header, .main {
  width: 960px;
  margin: 0 auto;
}

.header {
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dbdbdb;
}

.mark a {
  display: block;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 100px;
  display: block;
  width: 100px;
  border-radius: 50px;
  height: 100px;
  background: url('/mark_grayscale.png');
  text-indent: -5000px;
}

.mark a:hover {
  background: #000;
  text-indent: 0;
}

.footer {
  color: #fff;
  background: #000;
  position: relative;
  overflow: hidden;
}

.footer section {
  display: block;
  margin: 0 auto;
  padding: 100px 0;
  width: 960px;
  overflow: hidden;
}

.quarterColumn,
.halfColumn {
  position: relative;
  float: left;
  width: 25%;
}

.quarterColumn h2,
.halfColumn h2 {
  width: 95%;
  font-size: 75%;
  border-bottom: 1px solid #555;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.quarterColumn p {
  width: 95%;
  font-size: 75%;
}

.quarterColumn ul,
.halfColumn ul {
  width: 95%;
  font-size: 75%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.halfColumn ul,
.halfColumn h2 {
  width: 97%;
}

.quarterColumn ul li {
  margin: 0;
  padding: 0;
}

.quarterColumn ul li a {
  color: #fff;
}

.halfColumn {
  width: 50%;
  postion: relative;
  float: left;
}
