.tags {
  margin: 0;
}

li.tag {
  display: inline-block;
  list-style-type: none;
  font-style: italic;
  margin-bottom: 0;
}

li.tag:after {
  content: ',';
  margin-right: .25em;
}

li.tag:last-of-type:after {
  content: '';
}
