@import 'compass';
@import 'variables';
@import 'mixins';
@import 'typography';

body {
  background: $background;
  padding-top: $body_padding/2;
}

section.content {
  margin-left: $body_padding;
}

.column {
  float: left;
  margin-right: 10px;

  &.one-third {
    width: 31%;
  }

  &.one-half {
    width: 40%;
    margin-right: $spacer * 2;
  }

  &.two-thirds {
    width: 63%;
  }
}

.full {
  clear: both;
}
