@mixin primary_heading {
  border-bottom: 1px solid $secondary_text_color;
  padding-bottom: $spacer - 5;
  font-size: $font_size + 4;
  line-height: $spacer + 10;
}

@mixin center {
  width: $container_width;
  margin: 0 auto;
  @include responsive_width;
}

@mixin responsive_width {
  @media #{$only_screen_and_max_width} {
    width: 100%;
  }
}
