@mixin responsive_width {
  @include breakpoint(desktop) {
    width: 100%;
  }
}

@mixin small_text {
  font-size: $small_font_size;
  color: $secondary_text_color;
  text-decoration: none;
}

@mixin divider_heading {
  padding-bottom: 5px;
  font-size: $font_size;
  border-bottom: $divider;
  margin-bottom: $spacer;
  color: $secondary_text_color;
}

@mixin large_heading {
  font-size: $font_size + 10;
  line-height: $font_size + 10 * 1.5;
  margin-bottom: $spacer;
  color: $inverse_text_color;
}

@mixin breakpoint($point: desktop) {
  @if $point == desktop {
    @media (max-width: $desktop_break_point) { @content; }
  }

  @else if $point == tablet {
    @media (max-width: $tablet_break_point) { @content; }
  }

  @else if $point == mobile {
    @media (max-width: $mobile_break_point)  { @content; }
  }
}
