* {
  padding: 0;
  margin: 0;
}

html {
  font-family: $font_family;
  font-size: $font_size;
  color: $text_color;
  line-height: 1.5em;
}

ul, li {
  list-style-type: none;
}

date, small {
  display: block;
  @include small_text;
  margin-bottom: $spacer;
}

a, a:visited, a:focus {
  color: $link_color;
}

pre {
  overflow: auto;
  font-size: $font_size + 3;
  line-height: $font_size + 10;
}

ol li {
  list-style-type: decimal;
  list-style-position: outside;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: $font_size;

  &.divider {
    @include small_text;
    border-bottom: $divider;
    padding: $spacer $gallery_spacer;
    margin-bottom: $spacer;
  }
}

p {
  margin-bottom: $spacer;
}
