* {
  padding: 0;
  margin: 0;
}

html {
  font-family: $font_family;
  font-size: $font_size;
  color: $text_color;
  line-height: 1.5em;
}

ul, li {
  list-style-type: none;
}

date {
  display: block;
}

a, a:visited, a:focus {
  color: $link_color;
}

pre {
  overflow: auto;
}

ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  clear: both;
}

h1 {
  letter-spacing: 0;

  &.divider {
    text-align: center;
    font-size: $font_size + 4;

    &:before, &:after {
      content: '.';
      display: block;
      text-indent: -5000px;
      border-top: 1px solid $secondary_text_color;
      width: 300px;
      height: 1px;
      margin: 0 auto 15px auto;
    }

    &:after {
      margin-top: 15px;
      margin-bottom: 35px;
    }
  }

  a {
    text-decoration: none;
  }
}

ul.tags {
  li {
    display: inline;

    a {
      display: inline;
      text-decoration: none;
      font-style: italic;
      color: $secondary_text_color;

      &:after {
        content: ',';
      }

      &.last {
        &:after {
          content: '';
        }
      }
    }
  }
}
