* {
  padding: 0;
  margin: 0;
}

html,
h1,
h1 a,
h2,
h2 a,
li a {
  font-family: $font_family;
  font-size: $font_size;
  color: $text_color;
  line-height: 1.5em;
  font-weight: normal;
}

a {
  display: inline-block;
  border-bottom: 1px solid $text_color;
  text-decoration: none;
}

date {
  display: block;
}

h1 {
  margin-bottom: $spacer;

  &.divider {
    margin-left: $left_col_width + $left_col_buffer + 4;

    &:before {
      content: '\2022';
      display: inline-block;
      margin-right: $left_col_buffer + 4;
      margin-left: -$left_col_buffer * 2.5;
    }
  }
}

ul,
li {
  list-style-type: none;
}
