// Font Styles
$text_color: #000;
$link_color: #000;
$font_family: "Georgia", serif;
$font_size: 16px;

// Misc UI Elements
$background: #fff;
$spacer: 25px;

// layout
$body_padding: 100px;

// breakpoints
$desktop_break_point: 959px;
$tablet_break_point: 768px;
$mobile_break_point: 480px;
