// Text Colors
$text_color: #313131;
$inverse_text_color: #fff;
$link_color: #0473ad;
$content_text_color: #444;
$secondary_text_color: #8a8a8a;
$tertiary_text_color: #bbb;

// Font Styles
$font_family: Georgia, 'Times New Roman', serif;
$secondary_font_family: Helvetica, Arial, sans-serif;
$font_size: 12px;
$small_font_size: 11px;

// Heading Styles
$h1_font_size: 15px;

// Misc UI Elements
$mark_dimensions: 100px;
$responsive_mark_dimensions: 95px;
$divider_color: #dbdbdb;
$divider: 1px solid $divider_color;
$inverse_divider_color: #555;
$inverse_divider: 1px solid $inverse_divider_color;
$content_image_width: 500px;

// Thumbnails
$thumb_width: 25%;
$thumb_height: 25%;
$gallery_item_height: $thumb_height;

// layout
$desktop_width: 960px;
$spacer: 15px;
$gallery_spacer: $spacer - 10;

// breakpoints
$desktop_break_point: 959px;
$tablet_break_point: 768px;
$mobile_break_point: 480px;
