.divider {
  border-top: $divider;
  border-bottom: $divider;
  padding: 15px 5px;
  color: $secondary_text_color;
  font-family: $secondary_font_family;

  @include breakpoint(tablet) {
    padding: $spacer;
  }

  @include breakpoint(mobile) {
    padding: $spacer;
  }

  a, a:visited {
    color: $secondary_text_color;
    font-family: $secondary_font_family;
  }
}
