.divider {
  border-top: $divider;
  border-bottom: $divider;
  padding: 15px 5px;
  color: $secondary_text_color;
  font-family: $secondary_font_family;

  a, a:visited {
    color: $secondary_text_color;
    font-family: $secondary_font_family;
  }
}
