<ul class="blog gallery">
{{ range first .Count (where .Site.RegularPages "Type" "blog") }}
  <li class="item">
    {{ $featured_image := partial "func/GetThumbnail.html" . }}
    <a class="thumbnail" href="{{ .Permalink }}">
      <img src="{{ $featured_image }}" alt="image from {{ .Title }}">
    </a>
    <div class="details">
      <time>{{- .Date.Format "January 2, 2006" -}}</time>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p>{{ .Params.teaser | markdownify }}</p>
      {{ partial "tags.html" . }}
    </div>
  </li>
{{ end }}
</ul>
