<footer>
  <section>
    <h1 id="about">Info</h1>
    <div>
      <h2>Mike Ball</h2>
      <p>I live in Philadelphia and work as a multi-disciplinary software developer &amp; designer.</p>
      <p>Over the years, I've developed front end UIs, server backends, automated cloud infrastructure provisioning, and built continuous deployment pipelines for highly available applications.</p>
      <p>I've also worked in graphic and UX design. Buy prints of my illustration work at <a href="https://tiendah.bigcartel.com">Tiendah</a>.
    </div>
    <div class="double">
      <h2>Instagram</h2>
      <ul class="gallery ig-feed"></ul>
    </div>
    <div>
      <h2>Etc.</h2>
      <ul>
        <li><a id="contact" href="mailto:&#109;&#105;&#107;&#101;&#100;&#98;&#97;&#108;&#108;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Contact</a></li>
        <li><a href='http://github.com/mdb'>GitHub</a></li>
        <li><a href='http://twitter.com/clapexcitement'>Twitter</a></li>
        <li><a href='https://instagram.com/clapclapexcitement'>Instagram</a></li>
        <li><a href='/index.xml'>RSS Feed</a></li>
        <li><a href="https://tiendah.bigcartel.com">Shop Tiendah</a></li>
      </ul>
      <p>Interested in working with me? <a href="mailto:&#109;&#105;&#107;&#101;&#100;&#98;&#97;&#108;&#108;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Get in touch</a>.</p>
    </div>
  </section>
</footer>
