<header>
  <div class="mark"><a href="/">{{ .Site.Title }}</a></div>
  <button>Toggle Navigation</button>
  <div class="nav-wrap">
    <nav class="primary">
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
    <nav class="secondary">
      <ul>
        <li><a href="https://github.com/mdb">GitHub</a></li>
        <li><a href="https://instagram.com/clapclapexcitement">Instagram</a></li>
      </ul>
    </nav>
    <nav class="tertiary">
      <ul>
        <li><a href="https://tiendah.bigcartel.com">Shop</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
