{{ define "main" }}
<h1 class="divider">
  <a href="https://tiendah.bigcartel.com">Tiendah</a> |
  <a href="https://tiendah.bigcartel.com">View shop</a>
</h1>
<ul class="gallery store-feed"></ul>

<h1 class="divider">
  <a href="/instagram">Instagram</a> |
  <a href="https://instagram.com/clapclapexcitement">View all</a>
</h1>
<ul class="gallery ig-feed"></ul>

{{ $galleryArgs := (dict "context" . "Site" $.Site "Count" 4) }} {{ range (where
.Pages "Type" "blog") }}
<h1 class="divider">
  <a href="{{ .Permalink }}">Blog</a> | <a href="{{ .Permalink }}">View all</a>
</h1>
{{ end }} {{ partial "blog-post-gallery.html" $galleryArgs }}

<!--
  {{ range (where .Pages "Type" "projects") }}
    <h1 class="divider"><a href="{{ .Permalink }}">Recent Projects</a> | <a href="{{ .Permalink }}">View all</a></h1>
  {{ end }}
  {{ partial "project-post-gallery.html" $galleryArgs }}
  -->
{{ end }}
