{{ define "main" }}
  {{ range (where .Pages "Type" "blog") }}
    <h1><a href="{{ .Permalink }}">Blog</a></h1>
  {{ end }}
  <ul>
  {{ range (where .Site.RegularPages "Type" "blog") }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>

  {{ range (where .Pages "Type" "projects") }}
    <h1><a href="{{ .Permalink }}">Recent Projects</a></h1>
  {{ end }}
  <ul>
  {{ range (where .Site.RegularPages "Type" "projects") }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
{{ end }}
