- exclude = exclude || nil
- limit = limit || nil
- articles = blog_posts({exclude: exclude, limit: limit})

%ul.gallery
  - articles.each do |article|
    = partial :gallery_item, :locals => {:item => article, :type => "blog"}
