- type = type or 'blog'

%li.item
  %a{:class => "thumbnail", :href => item.url}
    - if type == 'blog'
      %img{:src => blog_thumb_path(item.data.thumbnail)}
    - else
      %img{:src => project_thumb_path(item.data.thumbnail)}
  %div.details
    - if type == 'blog'
      %small.blog Blog
      %date="Posted #{item.date.strftime('%B %e, %Y')}"
    - else
      %small Project
    %h2
      %a{:href => item.url}=item.title
    = partial :tags, :locals => {:item => item, :path_prefix => type}
