- type = type || 'blog'
- display_teaser = display_teaser || nil

%li{class: gallery_item_classes(display_teaser)}
  - if type == 'blog'
    %date="#{item.date.strftime('%B %e, %Y')}"
  %h2
    %a{href: item.url}=item.title
  - if display_teaser == true
    %p.teaser=item.data.teaser
