- exclude = exclude or nil
%ul.gallery
  - blog('projects').articles.each do |project|
    - unless project == exclude
      = partial :gallery_item, :locals => {:item => project, :type => "projects"}
