%ul.gallery
  - blog('projects').articles.each do |project|
    %li.item
      %a{:href => project.url}
        %img{:src => project_thumb_path(project.data.thumbnail)}
      %h2
        %a{:href => project.url}=project.title
      %ul.tags
        - project.tags.each do |tag|
          %li
            %a{:href => "/projects/tags/#{tag}"}=tag
