- limit = limit || nil
- exclude = exclude || nil
- projects = project_posts({limit: limit, exclude: exclude})

%ul.gallery
  - projects.each do |project|
    = partial :gallery_item, :locals => {:item => project, :type => "projects"}
