%section.content
  %div.content-container
    %h1.divider.homepage-projects Recent Projects | <a href="/projects">View all</a>
    = partial :project_gallery, :locals => { limit: 4, only_featured: true }
%section.content
  %div.content-container
    %h1.divider.homepage-instagram Instagram | <a href="https://instagram.com/clapclapexcitement">View all</a>
    %div.instagram.homepage-instagram
%section.content
  %div.content-container
    %h1.divider.homepage-blog-posts Blog | <a href="/blog">View all</a>
    = partial :blog_gallery, :locals => { limit: 4, display_teaser: true }
