---
title: MDB!
---

%div.content-wrap
  %div.content
    %h1.divider Recent Blog Posts
    = partial :blog_gallery

%div.content-wrap.secondary
  %div.content
    %h1.divider Recent Projects
    = partial :project_gallery
