%h1.divider <a href="/projects">Recent Projects</a>
= partial :project_gallery, :locals => { limit: 6, only_featured: true }
%h1.divider <a href="/blog">Blog</a>
= partial :blog_gallery, :locals => { limit: 3 }
%h1.divider <a href="/projects">Instagram</a>
%div.instagram
