<!DOCTYPE html>
<html>
  <head>
    <title>Status</title>
    <%#= render "/components/fingerprint" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield :content %>
  </body>
</html>
